---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Header from "@/components/Header.astro";

import { getCollection, render } from "astro:content";
import { StyledText } from "@/components/StyledText";
import { format } from "date-fns";
import { getAllSermonData } from "@/lib/posts";
import SpotifyVideoEmbed from "@/components/SpotifyVideoEmbed.astro";
import { Badge } from "@/components/ui/badge";
import Meta from "@/components/Meta.astro";

export async function getStaticPaths() {
  const posts = await getAllSermonData();

  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const {
  data: { title, spotifyURL, scripture, date },
  preacher: {
    data: { name: preacher },
  },
} = post;

const { Content } = await render(post);
---

<BaseLayout>
  <Header />
  <main class="layout-base gap-4">
    <StyledText as="h1" variant="displayXL"> {title}</StyledText>

    <Meta {date} {scripture} {preacher} />

    {spotifyURL && <SpotifyVideoEmbed {spotifyURL} />}
    <Content />
  </main>
</BaseLayout>
