---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";

import { render } from "astro:content";
import { StyledText } from "@/components/StyledText";
import { getAllSermonData } from "@/lib/posts";
import SpotifyVideoEmbed from "@/components/SpotifyVideoEmbed.astro";
import Meta from "@/components/Meta";
import { ButtonLink } from "@/components/ButtonLink";
import { format as datefnsFormat } from "date-fns";

export async function getStaticPaths() {
  const posts = await getAllSermonData();

  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const {
  data: { title, spotifyURL, scripture, date },
  preacher: {
    data: { name: preacher },
  },
} = post;

const { Content } = await render(post);

const dateFormatted = datefnsFormat(
  new Date(date.valueOf() + date.getTimezoneOffset() * 60 * 1000),
  "LLL dd, yyyy",
);
---

<BaseLayout>
  <Header />
  <main class="layout-base gap-4 py-8">
    <div class="flex flex-col gap-4">
      <StyledText as="h1" variant="displayXL"> {title}</StyledText>

      <!-- Don't need to client:load b/c meta defaults to compact=false -->
      <Meta {date} {scripture} {preacher} compact={false} />
    </div>

    {
      spotifyURL ? (
        <SpotifyVideoEmbed {spotifyURL} />
      ) : (
        <p>
          <ButtonLink
            variant="link"
            href={`https://www.youtube.com/@sojournerschurch7048/search?query=${dateFormatted}`}
            target="_blank"
          >
            No Spotify link available. Try our YouTube channel.
          </ButtonLink>
        </p>
      )
    }
    <div
      class="prose prose-custom prose-a:hover:decoration-primary prose-a:hover:text-foreground max-w-none"
    >
      <Content />
    </div>
  </main>
  <Footer />
</BaseLayout>
