---
import BaseLayout from "@/layouts/BaseLayout.astro";

import { render } from "astro:content";
import { StyledText } from "@/components/StyledText";
import { getAllSermonData } from "@/lib/posts";
import SpotifyEmbed from "@/components/SpotifyEmbed";
import Meta from "@/components/Meta";
import { format as datefnsFormat } from "date-fns";

export async function getStaticPaths() {
  const pages = await getAllSermonData();

  return pages.map((page) => ({
    params: { slug: page.id },
    props: { page },
  }));
}

const { page } = Astro.props;
const {
  data: { title, spotifyURL, scripture, date, bulletinURL },
  preacher: {
    data: { name: preacher, bio: preacherBio },
  },
  series: {
    data: { title: series },
  },
} = page;

const { Content } = await render(page);

const dateFormatted = datefnsFormat(
  new Date(date.valueOf() + date.getTimezoneOffset() * 60 * 1000),
  "LLL dd, yyyy",
);
---

<BaseLayout pageTitle={page.data.title}>
  <main class="layout-base gap-4 py-8">
    <div class="flex flex-col gap-4">
      <StyledText as="h1" variant="displayXL"> {title}</StyledText>
      <Meta {date} {scripture} {preacher} {series} compact={false} linked />
    </div>

    <div>
      <SpotifyEmbed
        type="video"
        spotifyURL={spotifyURL}
        query={dateFormatted}
        client:load
      />
    </div>

    <div
      class="prose prose-custom prose-a:hover:decoration-primary prose-a:hover:text-foreground max-w-none"
    >
      {page.rendered?.html ? <Content /> : <p>{preacherBio}</p>}
      {
        bulletinURL && (
          <a href={bulletinURL} target="_blank">
            View the Sunday Bulletin
          </a>
        )
      }
    </div>
  </main>
</BaseLayout>
