---
import GoogleDocsEmbed from "@components/GoogleDocsEmbed.astro";
import Header from "@components/Header.astro";
import SpotifyAudioEmbed from "@components/SpotifyAudioEmbed.astro";
import SpotifyVideoEmbed from "@components/SpotifyVideoEmbed.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("sermons");

  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { spotify_link, bulletin_link, title, preacher, description } = post.data;

const { Content } = await render(post);
---

<BaseLayout>
  <Header />

  <main class="layout-base">
    <h1 class="text-4xl">{title}</h1>
    <h3>{preacher}</h3>

    <p>{description}</p>

    <Content />

    <SpotifyVideoEmbed {spotify_link} />

    <!-- <SpotifyAudioEmbed {spotify_link} /> -->

    <GoogleDocsEmbed {bulletin_link} />
  </main>
</BaseLayout>
