---
import { Icon } from "@node/astro-icon/components";
import GoogleDocsEmbed from "@components/GoogleDocsEmbed.astro";
import Header from "@components/Header.astro";
import SpotifyAudioEmbed from "@components/SpotifyAudioEmbed.astro";
import SpotifyVideoEmbed from "@components/SpotifyVideoEmbed.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection, getEntry, render } from "astro:content";
import { undefined } from "astro:schema";
import { getHumanReadableScriptureRef } from "@src/utils/bibleParser";

// Get posts for rendering
export async function getStaticPaths() {
  const posts = await getCollection("sermons");
  posts.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

  return posts.map((post, index) => ({
    params: { slug: post.id },
    props: {
      post,
      prevEntryIndex: index + 1,
      nextEntryIndex: index - 1,
    },
  }));
}

const { post, prevEntryIndex, nextEntryIndex } = Astro.props;
const { spotifyLink, bulletinLink, title, preacher, date, series, sermonText } =
  post.data;

const { Content } = await render(post);

// Get allSermons to get previous/next entries
const allSermons = await getCollection("sermons");
allSermons.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

let prevEntry, nextEntry;
if (prevEntryIndex <= allSermons.length - 1) {
  prevEntry = await getEntry("sermons", allSermons[prevEntryIndex].id);
}
if (nextEntryIndex >= 0) {
  nextEntry = await getEntry("sermons", allSermons[nextEntryIndex].id);
}

const seriesEntry = await getEntry("sermonSeries", series);
console.log(seriesEntry?.data.name);
---

<BaseLayout>
  <Header />

  <main class="layout-80ch">
    <SpotifyVideoEmbed {spotifyLink} />
    <h1 class="text-4xl">
      {title} ({getHumanReadableScriptureRef(sermonText)})
    </h1>
    <h3 class="text-base-content/50">
      {
        date.toLocaleDateString("en-US", {
          month: "long",
          day: "2-digit",
          year: "numeric",
        })
      } - {preacher} - <a href=`/sermons/series/${seriesEntry?.id}` class="link"
        >{seriesEntry?.data.name}</a
      >
    </h3>

    <Content />

    <!-- <p>
      Sermon on {getHumanReadableScriptureRef(post)} from <a
        href="/"
        class="link cursor-pointer">Sojourners Church</a
      > in Albert Lea, MN preached on {
        date.toLocaleDateString("en-US", {
          month: "long",
          day: "2-digit",
          year: "numeric",
        })
      } by {preacher}.
    </p> -->

    <!-- <h3>{preacher}</h3> -->
    <h3 class="text-2xl">Bulletin</h3>
    <GoogleDocsEmbed {bulletinLink} />
    {
      prevEntry && (
        <a href={prevEntry.id} class="link flex">
          <Icon
            name="mdi:navigate-before"
            class="text-primary text-2xl font-bold"
          />
          {prevEntry.data.title}
        </a>
      )
    }
    {
      nextEntry && (
        <a href={nextEntry.id} class="link flex">
          {nextEntry.data.title}
          <Icon
            name="mdi:navigate-next"
            class="text-primary text-2xl font-bold"
          />
        </a>
      )
    }

    <!-- <p>{description}</p> -->

    <!-- <SpotifyAudioEmbed {spotify_link} /> -->
  </main>
</BaseLayout>

<style></style>
