---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { StyledText } from "@/components/StyledText";
import { ButtonLink } from "@/components/ButtonLink";
import {
  getAllPreachersData,
  getAllSeriesData,
  getAllSermonData,
} from "@/lib/posts";
import SpotifyEmbed from "@/components/SpotifyEmbed";
import Filter from "@/components/Filters/Filter";
import { CardDisplay } from "@/components/Cards/CardDisplay";
import Meta from "@/components/Meta";
import { format as datefnsFormat } from "date-fns";

const allSermonData = await getAllSermonData();
const allSeriesData = await getAllSeriesData();
const allPreachersData = await getAllPreachersData();

const latestSermon = allSermonData[0];
const latestSermonDateFormatted = datefnsFormat(
  new Date(
    latestSermon.data.date.valueOf() +
      latestSermon.data.date.getTimezoneOffset() * 60 * 1000,
  ),
  "LLL dd, yyyy",
);
---

<BaseLayout pageTitle="Sermons">
  <main class="layout-base gap-8 py-8">
    <h1 class="sr-only">Sermons</h1>
    <section class="flex flex-col gap-4">
      <StyledText as="h2" variant="heading">Latest Sermon</StyledText>
      <ButtonLink
        variant="link"
        href={`/sermons/${latestSermon.id}`}
        className="hover:text-primary h-fit justify-start p-0"
      >
        <StyledText as="span" variant="subheading">
          {latestSermon.data.title}
        </StyledText>
      </ButtonLink>
      <Meta
        date={latestSermon.data.date}
        scripture={latestSermon.data.scripture}
        preacher={latestSermon.preacher.data.name}
        series={latestSermon.series.data.title}
        linked
        client:load
      />
      <SpotifyEmbed
        type="audio"
        spotifyURL={latestSermon.data.spotifyURL}
        query={latestSermonDateFormatted}
        client:idle
      />
    </section>
    <section class="flex flex-col gap-2">
      <Filter
        {allSermonData}
        {allSeriesData}
        {allPreachersData}
        client:only="react"
      />
      <CardDisplay data={allSermonData} client:load />
    </section>
  </main>
</BaseLayout>
