---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import { StyledText } from "@/components/StyledText";
import { ButtonLink } from "@/components/ButtonLink";
import {
  getAllPreachersData,
  getAllSeriesData,
  getAllSermonData,
} from "@/lib/posts";
import SpotifyAudioEmbed from "@/components/SpotifyAudioEmbed.astro";
import { SermonFilter } from "@/components/Filters/SermonFilter";
import CombinedFilter from "@/components/Filters/CombinedFilter";
import { CardDisplay } from "@/components/Cards/CardDisplay";
import Meta from "@/components/Meta";

const allSermonData = await getAllSermonData();
const allSeriesData = await getAllSeriesData();
const allPreachersData = await getAllPreachersData();
---

<BaseLayout>
  <Header />
  <main class="layout-base gap-8 py-8">
    <h1 class="sr-only">Sermons</h1>
    <section class="flex flex-col gap-4">
      <StyledText as="h2" variant="heading">Latest Sermon</StyledText>
      <ButtonLink
        variant="link"
        href={`/sermons/${allSermonData[0].id}`}
        className="hover:text-primary h-fit justify-start p-0"
      >
        <StyledText as="span" variant="subheading">
          {allSermonData[0].data.title}
        </StyledText>
      </ButtonLink>
      <Meta
        date={allSermonData[0].data.date}
        scripture={allSermonData[0].data.scripture}
        preacher={allSermonData[0].preacher.data.name}
        client:load
      />

      <SpotifyAudioEmbed spotifyURL={allSermonData[0].data.spotifyURL} />
    </section>
    <section class="flex flex-col gap-2">
      <!-- <SermonFilter
        {allSermonData}
        {allSeriesData}
        {allPreachersData}
        client:load
      /> -->
      <CombinedFilter
        {allSermonData}
        {allSeriesData}
        {allPreachersData}
        client:load
      />
      <CardDisplay data={allSermonData} client:load />
    </section>
  </main>
  <Footer />
</BaseLayout>
