---
import { format } from "date-fns";
import { getCollection, getEntry, type CollectionEntry } from "astro:content";
// import { getHumanReadableScriptureRef } from "@src/utils/bibleParser";

import BaseLayout from "@layouts/BaseLayout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

import Text from "@components/Text.svelte";
import FilteredCards from "@components/FilteredCards.svelte";
import SpotifyAudioEmbed from "@components/SpotifyAudioEmbed.astro";

// TODO: Abstract these functions into util file
// ----- GET ALL SERMON DATA ----- //
const allSermons = (await getCollection("sermons")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);

console.log(allSermons[0]);
// console.log(allSermons[0].data.series.match(/([^\/?#]+)$/g));

const getSermonData = (sermonData: CollectionEntry<"sermons">[]) => {
  const promises = sermonData.map(async (sermonItem) => {
    return {
      ...sermonItem,
      series: await getEntry(sermonItem.data.series),
      preacher: await getEntry(sermonItem.data.preacher),
    };
  });
  return Promise.all(promises);
};

const allSermonData = await getSermonData(allSermons);

// ----- GET ALL SERMON SERIES ----- //
const allSeries = (await getCollection("series")).sort(
  (a, b) => b.data.startDate.valueOf() - a.data.startDate.valueOf(),
);

const allSeriesData = allSeries.map((item) => {
  return {
    id: item.id,
    title: item.data.title,
  };
});

// ----- GET ALL PREACHERS ----- //
// TODO: Sort data by number of sermons / priority?
const allPreachersData = (await getCollection("preachers"))
  .sort((a, b) =>
    a.data.name.split(" ")[1].localeCompare(b.data.name.split(" ")[1]),
  )
  .sort((a, b) => b.data.priority - a.data.priority);
---

<BaseLayout>
  <Header />
  <main class="layout-base gap-(--spacing-reg) py-(--spacing-reg)">
    <h1 class="sr-only">Sermons</h1>

    <section class="flex flex-col gap-(--spacing-xs)">
      <Text as="h2" variant="heading">Latest Sermon</Text>
      <Text as="h3" variant="subheading">
        <a href={`/sermons/${allSermonData[0].id}`} class="link">
          {allSermonData[0].data.title}
        </a>
      </Text>

      <Text variant="meta">
        {
          format(
            new Date(
              allSermonData[0].data.date.valueOf() +
                allSermonData[0].data.date.getTimezoneOffset() * 60 * 1000,
            ),
            "LLLL dd, yyyy",
          )
        } - {allSermonData[0].data.scripture} - {
          allSermonData[0].preacher.data.name
        }
        <!-- TODO: Redo interaction with Bible Parser -->
        <!-- {getHumanReadableScriptureRef(latestSermon.sermonText)} -->
      </Text>
      <SpotifyAudioEmbed spotifyURL={allSermonData[0].data.spotifyURL} />
    </section>

    <section class="flex flex-col gap-(--spacing-xs)">
      <FilteredCards
        client:load
        {allSermonData}
        {allSeriesData}
        {allPreachersData}
      />
    </section>
  </main>
  <Footer />
</BaseLayout>
