---
import { getCollection } from "astro:content";

import { getHumanReadableScriptureRef } from "@src/utils/bibleParser";

import Header from "@components/Header.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import SpotifyAudioEmbed from "@components/SpotifyAudioEmbed.astro";

const allSermons = await getCollection("sermons");
allSermons.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
const latestSermon = allSermons[0];

const allSeries = await getCollection("sermonSeries");
allSeries.sort(
  (a, b) => b.data.startDate.valueOf() - a.data.startDate.valueOf(),
);

const allPreachers = await getCollection("preachers");
---

<BaseLayout>
  <Header />
  <main class="layout-base">
    <h1 class="sr-only">Sermons</h1>
    <div class="grid grid-cols-2">
      <div>
        <h2 class="text-2xl uppercase">Latest Sermon</h2>
        <h3 class="text-xl">
          <a href={`/sermons/${latestSermon.id}`} class="link">
            {latestSermon.data.title}
          </a>
        </h3>
        <div class="text-base-content/50 text-sm">
          <p>
            {
              latestSermon.data.date.toLocaleDateString("en-US", {
                month: "long",
                day: "2-digit",
                year: "numeric",
              })
            }
          </p>
          <p>{latestSermon.data.series}</p>
          <p>{latestSermon.data.preacher}</p>
          <p>{getHumanReadableScriptureRef(latestSermon)}</p>
        </div>
      </div>
      <div>
        <h2 class="text-2xl uppercase">Listen on Spotify</h2>
        <SpotifyAudioEmbed spotify_link={latestSermon.data.spotifyLink} />
      </div>
    </div>
    <h2 class="text-2xl uppercase">Sermons By Series</h2>
    <div class="flex gap-6">
      {
        allSeries.map((item) => (
          <div class="card bg-base-200 w-48 shadow-sm">
            <a href={`/sermons/series/${item.id}`}>
              <figure>
                <img src={item.data.image} alt="series image" />
              </figure>
              <div class="card-body">
                <h3 class="card-title text-sm">{item.data.name}</h3>
              </div>
            </a>
          </div>
        ))
      }
    </div>

    <div class="divider"></div>
    <div>
      <label class="input">
        <svg
          class="h-[1em] opacity-50"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
        >
          <g
            stroke-linejoin="round"
            stroke-linecap="round"
            stroke-width="2.5"
            fill="none"
            stroke="currentColor"
          >
            <circle cx="11" cy="11" r="8"></circle>
            <path d="m21 21-4.3-4.3"></path>
          </g>
        </svg>
        <input type="search" class="grow" placeholder="Search" />
        <kbd class="kbd kbd-sm">⌘</kbd>
        <kbd class="kbd kbd-sm">K</kbd>
      </label>
    </div>
    <div class="grid grid-cols-2">
      <div>
        <h2>Sermons By Preacher</h2>
        <select class="select">
          <option disabled selected>Pick a Preacher</option>
          {
            allPreachers.map((preacher) => (
              <option>
                {preacher.data.name.first} {preacher.data.name.last}
              </option>
            ))
          }
        </select>
      </div>
      <div>
        <h2>Sermons By Date</h2>
        <select class="select">
          <option disabled selected>Pick a color</option>
          <option>Crimson</option>
          <option>Amber</option>
          <option>Velvet</option>
        </select>
      </div>
    </div>
  </main>
</BaseLayout>
