---
import { getCollection, getEntry } from "astro:content";
// import { getHumanReadableScriptureRef } from "@src/utils/bibleParser";
import { format } from "date-fns";

import Header from "@components/Header.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import SpotifyAudioEmbed from "@components/SpotifyAudioEmbed.astro";
import Card from "@components/Card.astro";
import Footer from "@components/Footer.astro";
import Text from "@components/Text.astro";
import type { CollectionEntry } from "astro:content";

// Get all sermons, sorted by date
const allSermons = (await getCollection("sermons")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);

const getSermonData = (sermonData: CollectionEntry<"sermons">[]) => {
  const promises = sermonData.map(async (sermonItem) => {
    return {
      ...sermonItem,
      series: await getEntry(sermonItem.data.series),
      preacher: await getEntry(sermonItem.data.preacher),
    };
  });
  return Promise.all(promises);
};

const sermonData = await getSermonData(allSermons);

// const sermonData = allSermons.map((sermon) => ({
//   title: sermon.data.title,
//   image: await getEntry(sermon.data.series),
// }));

// console.log(sermonData);

// Get latest sermon from all sermons
// const latestSermon = sermonData[0];

// Get latest sermon entry
// const latestSermonSeries = await getEntry(
//   "series",
//   latestSermon.data.series.id.match(/[a-z0-9-]*.(?=.md$)/)![0]
// );

// const latestSermonSeries = await getEntry(latestSermon.data.series);

// Get latest preacher entry
// const latestPreacher = await getEntry(
//   "preachers",
//   latestSermon.data.preacher.id.match(/[a-z0-9-_]*.(?=.md$)/)![0]
// );
// const latestPreacher = await getEntry(latestSermon.data.preacher);

// Get all sermon series
// const allSeries = (await getCollection("series")).sort(
//   (a, b) => b.data.startDate.valueOf() - a.data.startDate.valueOf()
// );
---

<BaseLayout>
  <Header />
  <main class="layout-base gap-(--spacing-reg) py-(--spacing-reg)">
    <h1 class="sr-only">Sermons</h1>

    <section class="flex flex-col gap-(--spacing-xs)">
      <Text as="h2" variant="heading">Latest Sermon</Text>
      <Text as="h3" variant="subheading">
        <a href={`/sermons/${sermonData[0].id}`} class="link">
          {sermonData[0].data.title}
        </a>
      </Text>

      <Text variant="meta">
        {
          format(
            new Date(
              sermonData[0].data.date.valueOf() +
                sermonData[0].data.date.getTimezoneOffset() * 60 * 1000,
            ),
            "LLLL dd, yyyy",
          )
        } - {sermonData[0].data.scripture} - {sermonData[0].preacher.data.name}
        <!-- TODO: Redo interaction with Bible Parser -->
        <!-- {getHumanReadableScriptureRef(latestSermon.sermonText)} -->
      </Text>
      <SpotifyAudioEmbed spotifyURL={sermonData[0].data.spotifyURL} />
    </section>

    <section class="flex flex-col gap-(--spacing-xs)">
      <Text as="h2" variant="heading">All Sermons</Text>
      <div class="flex flex-col gap-(--spacing-reg) lg:grid lg:grid-cols-2">
        {
          sermonData.map(
            ({
              series: {
                data: { imageSquare: image },
              },
              preacher: {
                data: { name },
              },
              data: { title, date, scripture },
              id,
            }) => (
              <Card
                {image}
                {title}
                {id}
                {date}
                {scripture}
                {name}
                baseUrl="/sermons/"
              />
            ),
          )
        }
      </div>
    </section>

    <!-- <div class="divider"></div>
    <div>
      <label class="input">
        <svg
          class="h-[1em] opacity-50"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
        >
          <g
            stroke-linejoin="round"
            stroke-linecap="round"
            stroke-width="2.5"
            fill="none"
            stroke="currentColor"
          >
            <circle cx="11" cy="11" r="8"></circle>
            <path d="m21 21-4.3-4.3"></path>
          </g>
        </svg>
        <input type="search" class="grow" placeholder="Search" />
        <kbd class="kbd kbd-sm">⌘</kbd>
        <kbd class="kbd kbd-sm">K</kbd>
      </label>
    </div>
    <div class="grid grid-cols-2">
      <div>
        <h2>Sermons By Preacher</h2>
        <select class="select">
          <option disabled selected>Pick a Preacher</option>
          {
            allPreachers.map(({ data: { name } }) => (
              <option>
                {name.first} {name.last}
              </option>
            ))
          }
        </select>
      </div>
      <div>
        <h2>Sermons By Date</h2>
        <select class="select">
          <option disabled selected>Pick a color</option>
          <option>Crimson</option>
          <option>Amber</option>
          <option>Velvet</option>
        </select>
      </div>
    </div> -->
  </main>
  <Footer />
</BaseLayout>

<style></style>
