---
import "../styles/global.css";
import config from "@/_site-config.json";
import bgImage from "@/assets/homepage-bg.webp";

import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";

interface Props {
  pageTitle?: string;
}

const { pageTitle } = Astro.props;
const currentPath = Astro.url.pathname;

const metaTitle = `${config.info.name}${pageTitle ? ` | ${pageTitle}` : ""}`;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={"/favicon.svg"} />
    <meta
      name="description"
      content="Website for Sojourners Church. A baptistic, reformed, non-denominational church in Albert Lea, Minnesota. Join us Sundays at 10am in the Skyline Plaza!"
    />

    <!-- Preload hero image for homepage -->
    {
      currentPath === "/" && (
        <link rel="preload" as="image" href={bgImage.src} />
      )
    }
    <meta name="generator" content={Astro.generator} />
    <title>{metaTitle}</title>

    <!-- FONTS -->
    <!-- ASYNC GOOGLE FONTS -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    /> -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
      media="print"
      onload="this.media='all'"
    />
    <noscript>
      <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet"
      />
    </noscript>

    <!-- INLINE CRITICAL CSS for above-the-fold content -->
    <style>
      body {
        margin: 0;
      }
      main,
      .hero {
        min-height: calc(100vh - 6.5rem);
      }
    </style>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
